<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ greeting }}!</title>
</head>
<body>

  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="#">{{ username }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sensors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/camera">Camera</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="jumbotron">
    <h1 class="display-4">Server Status</h1>
    <p class="lead">Server has been online since 3:46am MST - Data Captured: 202.31GB - Data Saved: 2.08GB</p>
    <hr class="my-4">
    <p  style="max-width: 770px;">The server informations tab is updated on login += every 20 seconds. View & change server configs in the settings menu, and dump saved-data onto storage by selecting Data & Activity</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Data & Activity</a>
      <a class="btn btn-dark btn-lg" href="#" role="button">Settings</a>
    </p>
  </div>
    
</body>
</html>