<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST" style="width: 50vw; margin: auto;margin-top: 60px;">
      
        <h2>Sign-in</h2>
        <p>Login to your admin account to view the dashboard.</p>
        <br>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" name='username' class="form-control" id="username" aria-describedby="emailHelp">
          <small id="username" class="form-text text-muted">Enter your chosen username</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password" name='password'>
         
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="check-box">
          <label class="form-check-label" for="check-box">Stay Logged-In</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        
        <br>
        <br>
        {% if error %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        {% elif error_info %}
          <div class="alert alert-info" role="alert">
            {{ error_info }}
          </div>
        {% endif %}
      </form>
      
</body>
</html>